.toggle {
  width: 100%;
  border: 1px solid #EBEDEC;
  background-color: #F9F9F9;
  margin-bottom: 20px;
  box-shadow: 0 0 6 px 0 rgba(0, 0, 0, 0.3);

  .tgl-btn-wrapper {
    margin: em(12px);
    float: left;
  }

  .toggle-wrapper {
    float: left;
    width: 69%;
    width: calc(100% - 100px);

    .toggle-info {
        line-height: 19px;
        font-size: 14px;
        margin: 18px 0;
      }
  }
}
.tgl {
//display: none;
  opacity: 0;
  position: absolute;

// add default box-sizing for this scope
	&,
&:after,
&:before,
& *,
& *:after,
& *:before,
& + .tgl-btn {
    box-sizing: border-box;
&::selection {
   background: none;
 }
}

+ .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin: 0;
&:after,
&:before {
   position: relative;
   display: block;
   content: "";
   width: 50%;
   height: 100%;
 }

&:after {
   left: 0;
 }

&:before {
   display: none;
 }
}

&:checked + .tgl-btn:after {
   left: 50%;
 }
}
