* {
  font-family: 'Microsoft YaHei';
  color: #4C4C4C;
}

.header{
  margin: 0 2rem;
}

.page-title {
  margin-top: 15px;
  font-size: 2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
}

.units-toggle-wrapper{
  display: flex;
}

.title {
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: bottom;
}

.weather-wrapper{
  margin: 0 2rem;

  .weather-list{
    display: flex;
    flex-direction: column;

    .daily{
      padding: 1rem;
      border: 1px solid #c1dbff;
      background-color: #eff6ff;
      font-weight: bold;
      font-size: 1rem;
    }

    .daily-weather{
      display: flex;
      padding: 1rem;
      flex-direction: row;
      background-color: #f9f9f9;
      border-right: 1px solid #c6c2c1;
      border-left: 1px solid #c6c2c1;
    }

    .weather-item{
      text-align: center;
      margin-right: 1rem;
      min-width: 10rem;
    }

    .weather-item:first-child{
      margin-left: 0;
    }

    .date{
      font-weight: bold;
    }
  }

  .icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0;
    min-height: 50px;

    .weather-icon{
      display: flex;
      color: #c6c2c1;
      justify-content: center;
    }
  }

  .description{
    padding-bottom: 0.5rem;
  }

  .temperature{
    font-weight: bold;
    background-color: rgba(193,219,255,0.8);
    border-radius: 30px;
  }

  .humidity-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .humidity-icon{
    display: flex;
  }

}

.city-list {
  background: #fff;
  border: 1px solid #ccc;
  width: 177px;
  box-shadow: 1px 1px 2px 1px #ccc;
  position: absolute;
  z-index: 11;
  top: 26px;

  > li {
    padding: 5px;
    border-bottom: 0.5px solid rgba(122, 122, 122, 0.5);
    cursor: pointer;

    &:hover {
      background: #66b1ff;
      color: #fff;
    }
  }
}

.header-search {
  position: relative;
  margin-top: 10px;
  display: inline-block;

  .search-box {
    width: 175px;
    height: 24px;
  }

  .search-button {
    height: 29px;
    vertical-align: bottom;
    border: 0;
    color: #fff;
    background-color: #409eff;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #dcdfe6;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-radius: 4px;

    &:hover {
      background-color: #66b1ff;
    }
  }
}

.search-loading {
  text-align: center;
  padding: 15px;
  font-size: 24px;
}

@keyframes loading-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loading-animation-1 {
  animation: loading-animation 1s infinite;
}

.loading-animation-2 {
  animation: loading-animation 1s ease 0.8s infinite;
}


.loading-animation-3 {
  animation: loading-animation 1s ease 1.4s infinite;
}