<div class="header">
    <h2 class="page-title">Weather Search Demo</h2>
    <h5 class="title">Weather forecast during</h5>
    <div class="header-search">
      <input class="search-box" name="cityname" type="text" [(ngModel)]="cityName" (change)="inputNameChange()">
      <ul class="city-list" *ngIf="(cities | cityFilter: cityName).length" [hidden]="hideCityList">
        <li *ngFor="let city of (cities | cityFilter: cityName)"  (click)="SearchCityWeather(city)">{{city.cityName}}</li>
      </ul>
      <button class="search-button" (click)="toSearchCityWeather($event)">Search</button>
    </div>
  


  <div class="units-toggle-wrapper">
    <app-toggle ([checked])="usedFahrenheitFlay"
                [id]="units"
                [description]="'I want to see Fahrenheit'"
                (checkedChange)="changedToFahrenheit($event)">
    </app-toggle>
  </div>
</div>

<div class="weather-wrapper">
  <div class="search-loading" *ngIf="searchLoadingFlag">
    Searching City Weather 
    <span class="loading-animation-1">.</span>
    <span class="loading-animation-1">.</span>
    <span class="loading-animation-1">.</span>
  </div>

  <div class="search-loading" *ngIf="!(weatherInfoSummary && weatherInfoSummary.list && weatherInfoSummary.list.length) && !searchLoadingFlag">
    No Weather Data for this City    
  </div>

  <ul class="weather-list" *ngFor="let dailyWeathers of weatherInfoSummary?.list;">
    <legend class="daily">{{dailyWeathers?.day| date:'fullDate'}}</legend>

    <div class="daily-weather">

      <li class="weather-item" *ngFor="let weatherInfo of dailyWeathers?.weatherInfos">
        <p class="date">{{weatherInfo?.dt_txt| date:'shortTime'}}</p>

        <div class="icon-wrapper">
          <app-icon-svg [iconId]="weatherInfo?.weather[0]?.icon" class="weather-icon"></app-icon-svg>
        </div>

        <div class="weather-main">
          <p class="description">{{weatherInfo?.weather[0]?.description | titlecase}}</p>
          <p>
            <span>{{weatherInfo?.main?.temp}}</span>

            <span *ngIf="units === 'metric'">℃</span>
            <span *ngIf="units === 'imperial'">℉</span>
          </p>

        </div>
      </li>
    </div>

  </ul>

</div>
