.title {
  font-size: 1.5rem;
  font-family: 'Microsoft YaHei';
}

.weather-wrapper{
  .weather-item{
    list-style: none;
  }
  .icon-wrapper{
    .weather-icon{
      display: flex;
      color: #EBEDEC;
    }
  }
}
